.footer ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer li {
    width: 126px;
    border: 1px solid #ccc;
    background: #d1bf5a;
    list-style: none;
    padding: 5px;
    color: #fff;
}